
{{#each favorites.favorites as |favorite|}}
  <div class="displayFavs">
    <h5>Artist: {{favorite.name}}</h5>
    <p>Genre: {{favorite.genre}}</p>
    <p><img src="{{favorite.image}}"></p>
    <button class="btn" {{action 'remove' artist}}>Remove</button>
  </div>
{{/each}}
