
<div class="reviewTile">
  <p><b>Username:</b> <span class="reviewFont">{{review.user}}</span><br>
  <b>Venue Seen at:</b> <span class="reviewFont">{{review.venue}}</span></p>
  <b>How was the Performace?</b> <br><br>
  <span class="reviewFont">{{review.performance}}</span>
</div>
