<p><b>Username:</b> {{review.user}}<br>
<b>Venue Seen at:</b> {{review.venue}}</p>
<b>How was the Performace?</b> <br>
{{review.performance}}


<!-- <button class="btn" {{action 'deleteFeedback' feedback}}>Delete</button> -->
