.artistTile {
  border: 1px double black;
  padding: 2%;
  margin: 3%;
  border-radius: 1em;
  width: 65%;
  img {
    width: 35%;
    height: auto;
  }
}
.artistDetail {
  h1 {
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.artistDetailReview {
  h4 {
    text-align: center;
  }
}
