header {
  text-align: center;
  h1 {
    font-family: "Neuropol";
    background-color: darken(pink, 15%);
    margin: 0;
    padding-top: 4%;
  }
  p {
    font-family: "Mouseyer";
    background-color: darken(pink, 15%);
    margin: 0;
    padding-bottom: 4%;
  }
}
