<header>
  {{md-parallax image="assets/img/raveHeader3-be331c2282492a41d4d4ae45ec9fe6e9.jpg"}}
  <h1>Ravelp</h1>
  <p>Your source for peace, love, unity, and respect</p>
</header>

{{artist-detail artist=model}}

{{new-review artist=model saveReview="saveReview"}}
