<header>
  {{md-parallax image="assets/img/raveHeader5.JPG"}}
  <h1>Ravelp</h1>
  <p>Your source for peace, love, unity, and respect</p>
</header>

<div class="container">
  <h1 class="favorites">My Favorites</h1>

  <div class="row">
    <div class="col s12">
      {{display-favorites}}
    </div>
  </div>
</div>
